
body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #7581a1;
line-height: 26px;
}
a {
text-decoration: none;
}
h1 {
font-size: 80px;
font-weight: 600;
text-align: left;
color: #192b59;
}

.nav {display: block;
font-size: 12px;
color: #6e7ea9;
text-transform: uppercase;
font-weight: 700;
list-style-type: none;
margin: 0;
padding: 0;
}
.nav-side{display: inline-block;
padding: 25px 0;
/*position:relative;*/
padding-left: 41px;
}

.btn-free {color: #fff;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #1085E4;
border-radius: 30px;
font-weight: 400;
padding: 15px 41px;
letter-spacing: 2.5px;
border: 1px solid #1085E4;
}
.btn-free:hover{color:#1085E4;
background-color: #fff;

}
.btn-group a + a{ 
margin-left: 15px ;
}
.btn-primary {color: #fff;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #1085E4;
border: 1px solid #1085E4;
padding: 15px 30px;
border-radius: 30px;
letter-spacing: 0.5px;
}
.btn-primary:hover {color:#1085E4;
background-color: #fff;
}
.btn-secondary {color: #748da2;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #cfdeea;
border: 1px solid #cfdeea;
padding: 15px 30px;
border-radius: 30px;
letter-spacing: 2.5px;
}
.btn-secondary:hover {
color:#748da2;
background-color: #fff;
}
.btn-info {text-transform: uppercase;
color:#8085b1;
background-color: transparent;
border: 1px solid #8085b1;
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
padding: 15px 30px;
border-radius: 30px;
}
.btn-info:hover {
color:#fff;
background-color:#192b59;
}
.grid, h2 {
font-size: 40px;
color: #192b59;
font-weight: 700;
}

.grid h2, span {
font-size: 14px;
color: #1085E4;
display: block;
}

.grid-item, h3 {
font-size: 20px;
color: #192b59;
font-weight: 600;
}

.grid-item, a {
font-size: 14px;
color: #1085E4;
font-weight: 600;
}

