
body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #7581a1;
line-height: 26px;
}

a {
text-decoration: none;
}
h1 {
font-size: 60px;
line-height:1.1em;
letter-spacing: -2.5px;
font-weight: 600;
text-align: left;
color: #192b59;
max-width: 540px;
margin-bottom: 55px;
}

.title-h2 {
font-size: 50px;
font-weight: 600;
color: #192b59;
line-height: 1.2em;
letter-spacing: -1.5px;
}
.title-h2 span {
display: block;
font-size: 16px;
font-weight: 800;
color: #1085E4;
margin-bottom: 14px;
text-transform: uppercase;
letter-spacing: 3px;
}

.title-40 {
font-size: 40px;
font-weight: 600;
color: #192b59;
line-height: 1.2em;
letter-spacing: -1.1px;
}
.title-40 span {
display: block;
font-size: 18px;
margin-bottom: 20px;
letter-spacing: 3.5px;
font-weight: 800;
color: #1085E4;
text-transform: uppercase;
}


.page-stat .title-h2, .page-screen .title-h2 {
margin: 0 auto;
text-align: center;
}
.page-stat .title-h2 {
max-width: 500px;
}

.wrap {max-width: 1110px; 
margin: 0 auto;
}
.box-header {
display: flex;
justify-content: space-between;
align-items: center;
/*padding-top: 53px;*/
margin-bottom: 305px;
}
.logo {display: block;
background-image: url(../img/logo.png);
background-repeat: no-repeat;
width: 181px;
height: 49px;

}
.nav {display: flex;
font-size: 12px;
color: #6e7ea9;
text-transform: uppercase;
font-weight: 700;
list-style-type: none;
margin: 0;
padding: 0;
}
.nav>li {
padding: 0 20px;
}

.nav-item {
color: #6e7ea9;
letter-spacing: 2px;
}
.screen-img{
display: block;
background-image: url(../img/header_screen.png);
background-repeat: no-repeat;
width: 835px;
height: 735px;
position: absolute;
right: 0;
top: 189px;
}
.btn-free {color: #fff;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #1085E4;
border-radius: 30px;
font-weight: 400;
padding: 15px 41px;
letter-spacing: 2.5px;
border: 1px solid #1085E4;
}
.btn-free:hover{color:#1085E4;
background-color: #fff;

}
.btn-group a + a{ 
margin-left: 15px ;
}
.btn-primary {color: #fff;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #1085E4;
border: 1px solid #1085E4;
padding: 15px 30px;
border-radius: 30px;
letter-spacing: 0.5px;
}
.btn-primary:hover {color:#1085E4;
background-color: #fff;
}
.btn-secondary {color: #748da2;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
background-color: #cfdeea;
border: 1px solid #cfdeea;
padding: 15px 30px;
border-radius: 30px;
letter-spacing: 2.5px;
}
.btn-secondary:hover {
color:#748da2;
background-color: #fff;
}
.btn-info {text-transform: uppercase;
color:#8085b1;
background-color: transparent;
border: 1px solid #8085b1;
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
padding: 15px 30px;
border-radius: 30px;
}
.btn-info:hover {
color:#fff;
background-color:#192b59;
}

.list-company {
max-width: 1110px; 
margin: 0 auto;
list-style-type: none;
padding: 0px;
display: flex;
justify-content: space-between;
align-items: center;
}
.list-company-item {
display: block;
}
.company-one {
background-image: url(../img/token.png);
background-repeat: no-repeat;
flex-basis: 202px;
height: 63px;
}
.company-two {
background-image: url(../img/Magneto.png);
background-repeat: no-repeat;
flex-basis: 209px;
height: 69px;
}
.company-three {
background-image: url(../img/boohoo.png);
background-repeat: no-repeat;
flex-basis: 215px;
height: 65px;
}
.company-four {
background-image: url(../img/fractal.png);
background-repeat: no-repeat;
flex-basis: 218px;
height: 88px;
}
.grid, h2 {
font-size: 40px;
color: #192b59;
font-weight: 700;
}

.grid h2, span {
font-size: 14px;
color: #1085E4;
display: block;
}

.grid-item, h3 {
font-size: 20px;
color: #192b59;
font-weight: 600;
}

.grid-item, a {
font-size: 14px;
color: #1085E4;
font-weight: 600;
}

.list-stat {
display: flex;
justify-content: space-around;
list-style-type: none;
margin-top: 76px;
}
.list-stat>li {
font-size: 12px;
font-weight: 700;
color: #1085E4;
text-align: center;
text-transform: uppercase;
letter-spacing: 2.7px;
}
.list-stat>li>span {
display: block;
font-size: 60px;
color: #bacbdc;
margin-bottom: 23px;
letter-spacing: 0;
}

.screen {
margin-top: 36px;
margin-bottom: -29px;
}
.box-price {
display: flex;
justify-content: space-between;
}
.box-price-item {
background-color: #f5faff;
padding: 50px 50px;
}
.box-price-item-active {
background-color: #192b59;
color: #fff;
}

/*попытки сделать цвет в стоимости тарифов до .мо*/
.box-price-item-free-350 {
color: #192b59;
font-size: 50px;
}
.box-price-item-free-350 span {
display: inline-block;
color: #98999e;
}

.box-price-item-90 {
color: #fff;
font-size: 50px;
margin-bottom: 0;
}
.box-price-item-90 span {
display: inline-block;
color: #fff;

}
.mo {color: #a8c5e3
}

.box-price-item ul{
list-style-type: none;
padding-left: 0;
}
.box-price-item-active ul {
list-style-type: none;
padding-left: 0;
}
/* PAGE */

.page-header {
background-image: url(../img/Home.png);
background-repeat: no-repeat;
background-size: cover;
padding: 53px 0 330px ;
position: relative;
}
.page-company {
background-image: url(../img/bg-layer3.png);
background-repeat: no-repeat;
background-size: cover;
padding: 146px 0 99px ;
}
.page-stat, .page-screen  {
background-color: #edf6ff;

}
.page-stat {
padding: 116px 0 96px 0;
}
.page-plan, .page-screen{text-align: center;
}

.page-screen {
padding: 116px 0 0 0;
}

.page-subscribe {
background: rgba(10,32,144,1);
background: -moz-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(34,115,202,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(34,115,202,1)));
background: -webkit-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(34,115,202,1) 100%);
background: -o-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(34,115,202,1) 100%);
background: -ms-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(34,115,202,1) 100%);
background: linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(34,115,202,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2273ca', GradientType=1 );
}